LOG_LEVEL="info"
DISPLAY_ERROR_DETAILS=true
LOG_ERRORS=true
LOG_ERROR_DETAILS=true
OTEL_PHP_AUTOLOAD_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT='http://open_tracing:4317'
OTEL_EXPORTER_OTLP_PROTOCOL='grpc'
OTEL_PROPAGATORS='baggage,tracecontext'
OTEL_TRACES_EXPORTER='otlp'
# OTEL_EXPORTER_OTLP_LOGS_PROTOCOL='grpc'
# OTEL_LOGS_EXPORTER='otlp'
# OTEL_EXPORTER_OTLP_LOGS_ENDPOINT='http://open_tracing:4317/v1/log/'
OTEL_METRICS_EXPORTER='otlp'
OTEL_LOGS_EXPORTER='console'
OTEL_PHP_DISABLED_INSTRUMENTATION='[delete_it_to_disable_you_need_only_[slim]]'
LOGGER_TYPE='console'
URL_OPEN_SSL_ENCODER_KEY='77777'
URL_OPEN_SSL_ENCODER_ALGORITHM='AES-256-CBC'


URL_PRODUCER=http://127.0.0.1:3000


FIREBASE_TYPE='service_account'
FIREBASE_PROJECT_ID=''
FIREBASE_PRIVATE_KEY_ID=''
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=''
FIREBASE_CLIENT_ID=''
FIREBASE_AUTH_URI='https =>//accounts.google.com/o/oauth2/auth'
FIREBASE_TOKEN_URI='https =>//oauth2.googleapis.com/token'
FIREBASE_AUTH_PROVIDER_CERT_URL='https =>//www.googleapis.com/oauth2/v1/certs'
FIREBASE_CLIENT_CERT_URL='https =>//www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-u5b5s%40zhk-iadv-push.iam.gserviceaccount.com'
FIREBASE_UNIVERSE_DOMAIN='googleapis.com'

REDIS0_HOST='redis6375'
REDIS1_HOST='redis6376'
REDIS2_HOST='redis6377'
REDIS3_HOST='redis6378'
REDIS_HOST='redis'
REDIS0_PORT=6375
REDIS1_PORT=6376
REDIS2_PORT=6377
REDIS3_PORT=6378
REDIS_PORT=6379
REDIS_PASSWORD='password'
REDIS_TIMEOUT=10
REDIS_READ_TIMEOUT=10
REDIS_PERSISTENT_CONNECTIONS=false
REDIS_DATABASE=0

REDIS_QUEUE_HOST='redisPUSH'
REDIS_QUEUE_PORT=6379
REDIS_QUEUE_PASSWORD='password'
REDIS_QUEUE_TIMEOUT=10
REDIS_QUEUE_READ_TIMEOUT=10
REDIS_QUEUE_PERSISTENT_CONNECTIONS=false
REDIS_QUEUE_DATABASE=0

MARIADB_HOST='db'
MARIADB_DATABASE='iav_push'
MARIADB_USER=iav2
MARIADB_PASSWORD=iav2
MARIADB_PORT=3306

PUSH_LIFE_LOGS_ENABLE=true
PUSH_LIFE_LOGS_PERCENTAGE=10

